.footer{
    height: 23.3125rem;
    width: 100%;
    background-color: #CAAA97;
    padding-top: 60px;
    padding: 60px 125px 60px 125px ;
    display: flex;
    margin-right: 5.625rem;
    margin-top: 40px;
    padding-bottom: 50px; 
}
.Fashion{
    margin-right: 90px;
}

.Fashion h1{
    font-size: 59.64px;
    font-weight: bolder;
    color: #2F2A2A;
    margin-bottom: 35px;
}
.Fashion p{
    font-size: 25px;
}
.icons{
    display: flex;
    gap: 30px;
    margin-top: 27px;
    font-size: 32px;
}
.shop{
    margin-right: 100px;
}
.shop h1{
  font-size: 32px;
  font-weight: 700;
  color: #57514e;
  margin-bottom: 24px;
}
.shop ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.shop ul li{
    font-size: 20px;
    color: #4e4945;
    font-weight: 600;
}
.COMPANY{
    font-size: 25px;
    margin-right: 100px;
}
.COMPANY ul li{
    font-size: 20px;
    color: #4e4945;
    font-weight: 600;
     
}
.COMPANY ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.COMPANY h1, .submit{
    font-size: 30px;
    font-weight: 700;
    color: #57514e;
    margin-bottom: 24px;
  }
  .submit{
    margin-right: 100px;
    padding-left: 0px;
     font-size: 24px;
     font-weight: 700;
     margin-top: 70px;
  }
  .input{
    width: 200px;
    height: 42.2px;
    padding: 10px 0px 13px 15px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    margin-top: 23px;
    
  }
  .inputDiv{
    position: relative;
  }
.inputDiv button{
    width: 80px;
    height: 42px;
    background-color: #6CA1BE;
    color: #0B0B0B;
    font-size: 16px;
    border: .0625rem solid black;
    outline: none;
   position: absolute;
   margin-top: 23px;
}
@media(max-width:48rem){
.footer{
    flex-direction: column;
    height: auto;
    gap: 3.125rem;
    margin-bottom: 5.625rem;

}.inputDiv {
 display: inline-block;
  position: absolute;
  left: 28.5%;
  
}.submit h1{
  position: relative;
  right: 11%;
  
}
}